.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100vh;
    margin: 0 2em;

    h1 {
        margin-bottom: 1em;
    }

    label {
        margin-left: 0.5em;
    }

    .buttonsWrapper {
        display: flex;
        justify-content: space-around;

        button, a {
            background: black;
            color: white;
            padding: 1em 1.5em;
            border-radius: 6px;
            font-family: inherit;

            &:disabled {
                background: lighten(black, 20%);
                cursor: default;
            }
        }
    }
}